body{
	background-color: #FCDFDD;
}
.linea{
	position: absolute;
	top: 150%;
	left: 0%;
	height: 1%;
	width: 100%;
	background-color: #DC6058;
}
.ban{
	position: absolute;
	top: 1%;
	left: 6%;
}
.tit{
	position: absolute;
	top: 41%;
	left: 37%;
	font-family: letra;
	font-size: 600%;
	color: #DC6058;
}
@font-face{
	font-family: letra;
	src: url(letra.ttf);
}
.video{
	position: absolute;
	top: 70%;
	left: 5%;
	width: 90%;
	height: 75%;
}
